:root {
  --overflow-columns: repeat(auto-fill, minmax(220px, 1fr));
  --padding-gap: 0;
  --tab-height: auto;
  --padding: 6vw;
}

.collections {
  // background: linear-gradient(
  //   to bottom,
  //   #ffffffc5,
  //   #ffffffc5,
  //   #ffffffc5,
  //   #ffffffe7,
  //   #fffffff1
  // );
  //   backdrop-filter: blur(45px);
  //   min-height: 1000px;
  width: calc(100vw - (2 * var(--padding)));
  padding: clamp(35px, 10vw, 60px) var(--padding) 80px;
  display: grid;
  row-gap: clamp(50px, 10vw, 85px);
  column-gap: 6vw;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  justify-items: center;
  // overflow-x: hidden;

  &-tab {
    scroll-snap-align: center;
    min-height: 0;
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-template-columns: auto;
    row-gap: 30px;
    max-width: 1920px;
    width: calc(100vw - (2 * var(--padding)));
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    &-head {
      justify-self: start;
      font-size: clamp(22px, 2.5vw, 30px);
      font-weight: 500;
      color: var(--accent-color);
      font-family: "Concert One";

      &-skeleton {
        width: 150px;
        height: 35px;
      }
    }
    &-body {
      display: grid;
      grid-template-columns: var(--overflow-columns);
      align-content: start;
      justify-content: space-around;
      row-gap: 30px;
      column-gap: 30px;
    }
  }
  &-card {
    display: grid;
    grid-template-rows: 280px auto;
    row-gap: 15px;
    height: 320px;
    &:nth-child(4n + 3) {
      .collections-card-image {
        background-color: var(--color-3);
      }
    }
    &:nth-child(2n + 2) {
      .collections-card-image {
        background-color: var(--color-2);
      }
    }
    &:nth-child(4n + 1) {
      .collections-card-image {
        background-color: var(--color-1);
      }
    }
    &-image {
      border-radius: 6px;
      transition: 0.4s ease;

      &-skeleton {
        height: 100%;
        width: 100%;
      }

      &:hover {
        box-shadow: inset 0 0 12px #00000020, 0 5px 10px #00000047;
      }
    }
    &-content {
      display: grid;
      grid-template-columns: 1fr 30px;
      column-gap: 10px;
      align-items: center;
    }
    &-name {
      color: var(--text-color);
      align-self: center;
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: var(--font-weight);
      &-skeleton {
        width: 100%;
        height: 100%;
      }
    }
    button {
      background-color: inherit;
      border: none;
    }
    &-action {
      justify-self: center;
      color: var(--text-color);
      &-skeleton {
        width: 100%;
      }
      i {
        cursor: pointer;
      }
    }
    &-empty {
      border: 2px dashed var(--text-color);
      background-color: var(--bg-color);
      color: var(--text-color);
      border-radius: 6px;
      display: grid;
      grid-template-rows: repeat(2, auto);
      justify-items: center;
      align-items: center;
      align-content: center;
      row-gap: 5px;
      height: 280px;
      line-height: 28px;

      &-skeleton {
        height: 280px;
        width: 100%;
      }

      div {
        padding: 20px 25px;
        font-size: 17px;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}

strong {
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  :root {
    --overflow-columns: repeat(auto-fill, minmax(200px, 1fr));
    // --tab-height: 410px;
    --padding-gap: 0vw;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --padding: 10vw;
  }
}
