:root {
  --display-height: 500px;
  --menu-width: auto;
  --menu-position: none;
  --menu-bottom: 0;
  --menu-font-size: clamp(12px, 1.5vw, 15px);
  --nav-font-size: clamp(14px, 1.5vw, 15px);
  --title-font-size: clamp(20px, 3vw, 32px);
  --column-gap: clamp(20px, 2.5vw, 40px);
  --menu-padding: 5px 0;
  --header-trans: #ffffff45;
  --bottom-menu-color: transparent;
  --backdrop: blur(40px);
  --menu-icon-size: var(--menu-font-size);
  --nav-margin: 40px;
  --nav-padding: 20px 6vw;
  --bug: 0px;
  --nav-justify: start;
}

.navigation.remove_blur {
  backdrop-filter: none;
  opacity: 0;
  background-color: transparent;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 88vw;
  padding: var(--nav-padding);
  display: grid;
  background-color: var(--header-trans);
  backdrop-filter: var(--backdrop);
  transition: 0.3s ease;
  z-index: 100;
  align-items: center;
  align-content: center;
  grid-template-columns: auto auto 1fr auto;
  justify-items: start;
  color: var(--text-color);
  padding-top: 24px;
  // background-color: blue;
  &-title {
    text-align: left;
    font-size: var(--title-font-size);
    font-weight: 500;
    color: var(--text-color);
    font-family: "Concert One", serif;
    padding-bottom: var(--bug);
    min-width: 140px;
    // white-space: nowrap;

    &-skeleton {
      width: 140px;
    }
  }

  &#slide-up {
    top: -90px;
  }
  .nav {
    justify-self: var(--nav-justify);
    margin-left: var(--nav-margin);
    // padding: var(--menu-padding);
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 30px;
    &:has(.menu-items-text-skeleton) {
      column-gap: 35px;
    }
    // .menu-items {
    //   span {
    //     font-size: var(--nav-font-size);
    //   }
    //   i {
    //     font-size: var(--menu-icon-size);
    //   }
    // }
  }
  .menu {
    justify-self: end;
    background: var(--bottom-menu-color);
    width: var(--menu-width);
    position: var(--menu-position);
    bottom: var(--menu-bottom);
    padding: var(--menu-padding);
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    column-gap: var(--column-gap);
    min-width: clamp(auto, 50vw, 600px);

    button:focus {
      outline: 2px solid var(--text-color);
      border-radius: 4px;
    }
    button:active {
      outline: none;
    }
    &-items {
      background-color: transparent;
      // background-color: red;
      border: none;
      color: inherit;
      padding-top: 0;
      padding-bottom: 0;
      &-icon-skeleton {
        width: 18px;
        height: 18px;
        border-radius: 50%;
      }
      &-text-skeleton {
        width: 40px;
        height: 8px;
      }
      &:has(.menu-items-text-skeleton) {
        align-items: center;
        grid-template-rows: repeat(2, auto);
        row-gap: 2px;
      }
      cursor: pointer;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      align-content: center;
      align-items: last baseline;
      justify-items: center;
      transition: 0.2s ease color;
      row-gap: 4px;
      // background-color: green;
      span {
        font-size: var(--menu-font-size);
        text-align: center;
        font-weight: 500;
      }
      i {
        font-size: var(--menu-icon-size);
      }
    }
    &-active {
      span,
      i {
        color: #4bb816;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  :root {
    --display-height: 800px;
    --menu-width: 100vw;
    --menu-position: fixed;
    --menu-font-size: clamp(10px, 1.5vw, 16px);
    --nav-font-size: clamp(12px, 1.5vw, 16px);
    --menu-icon-size: clamp(16px, 2vw, 18px);
    --column-gap: none;
    --menu-padding: 15px 0;
    --backdrop: none;
    --header-trans: #ffffff;
    --bottom-menu-color: linear-gradient(to bottom, #ffffffc2, #fffffffb, #fff);
    --nav-margin: 0;
    --nav-padding: 16px 6vw;
    --bug: clamp(0px, calc(50px - 10vw), 12px);
    --nav-justify: end;
  }
  // .nav:has(.menu-items-text-skeleton) {
  //   margin-right: 0 !important;
  // }
  // .menu:has(.menu-items-text-skeleton) {
  //   column-gap: var(--column-gap) !important;
  // }
}

@media screen and (min-width: 1920px) {
  :root {
    --display-height: 800px;
  }
}
