:root {
  --page-top: 70px;
}

.pages {
  &-container {
    display: grid;
    width: calc(100vw - (2 * var(--padding)));
    padding: 0 var(--padding) 80px;
    justify-items: center;

    .collections-tab-body {
      padding-top: clamp(35px, 10vw, 60px);
    }
  }
}

@media screen and (max-width: 700px) {
  :root {
    --page-top: 25px;
  }
}
