:root {
  --search-right: 6.5vw;
  --search-left: inherit;
  --search-hidden-width: 40px;
  --search-width: clamp(0px, calc(86vw - 20px), 1024px);
}

.search {
  &-box {
    visibility: hidden;
    overflow: hidden;
    position: fixed;
    top: 20px;
    width: var(--search-hidden-width);
    height: 50px;
    background-color: #ffffff;
    display: grid;
    align-items: center;
    align-content: center;
    // animation: fill 1s linear forwards;
    transition: 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95),
      2s ease-in border-radius;
    border-radius: 50%;
    display: grid;
    align-items: center;
    grid-template-columns: 50px calc(var(--search-width) - 100px) 50px;
    z-index: 200;

    &-container {
      position: fixed;
      display: grid;
      height: 160px;
      width: 100vw;
      visibility: hidden;
      background: transparent;
      transition: 0.4s ease;
      z-index: 200;
      > :last-child {
        opacity: 0;
      }

      &:has(#show-search) {
        background: linear-gradient(to bottom, #fff, #fff, #fff, #fffffff3);
        visibility: visible;
        > :last-child {
          opacity: 1;
        }
      }
    }

    > * {
      padding: 10px 0;
    }
    div {
      display: grid;
    }
    > :first-child,
    > :last-child {
      justify-self: center;
    }
    i {
      color: var(--text-color);
      cursor: pointer;
    }
  }
  &-input {
    display: grid;

    input {
      outline: none;
      border: none;
      font-size: 18px;
      color: var(--text-color);
      font-weight: 500;
      opacity: 0;
    }
  }

  &-result {
    &-container {
      padding-top: 100px;
      background-color: #fff;
      position: fixed;
      height: calc(100vh - 100px);
      width: 100vw;
      z-index: 100;
      display: grid;
      align-content: start;
      grid-template-rows: 40px 1fr;
      row-gap: 20px;
    }
    display: grid;
  }
  &-filter {
    display: grid;
    position: fixed;
    top: 85px;
    z-index: 200;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 18px;
    justify-content: start;
    align-items: center;
    padding: 0 5px;
    border-left: calc(7vw - 2px) solid transparent;
    border-right: calc(7vw - 2px) solid transparent;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    > div {
      color: var(--text-color);
      background-color: #fff;
      padding: 10px 20px;
      height: 15px;
      border-radius: 10rem;
      display: grid;
      align-content: center;
      align-items: center;
      grid-template-columns: repeat(2, auto);
      justify-content: start;
      column-gap: 10px;
      box-shadow: 0 0 5px 1px #00000015;
      font-size: 15px;
      font-weight: 600;
    }
  }
}

.active-filter {
  background-color: #8eff88 !important;
  box-shadow: none !important;
}

#show-search {
  box-shadow: 0 0 5px 2px #00000025;
  left: 7vw !important;
  width: var(--search-width);
  height: 55px;
  padding: 0 10px;
  visibility: visible !important;
  border-radius: 10rem;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    0.12s ease-in border-radius;
  input {
    opacity: 1;
  }
}

@media screen and (min-width: 800px) {
  :root {
    --search-hidden-width: 55px;
  }
}
