.collections {
  background: linear-gradient(
    to bottom,
    #ffffffc5,
    #ffffffc5,
    #ffffffc5,
    #ffffffe7,
    #fffffff1
  );
  backdrop-filter: blur(45px);
  display: grid;
  min-height: 1200px;
}
