:root {
  --display-columns: repeat(2, 1fr);
  --display-rows: auto;
  --price-padding: 6px;
  --min-height: 450px;
  --notify-width: auto;
  --notify-max-width: 200px;
  --notify-bottom: inherit;
  --notify-left: inherit;
}
.display {
  //   top: 80px;
  //   position: fixed;
  //   z-index: -1;
  margin-top: 70px;
  height: var(--display-height);
  padding: 40px calc(2 / 3 * var(--padding)) 10px;
  width: calc(100vw - (4 / 3 * var(--padding)));
  display: grid;
  grid-template-columns: var(--display-columns);
  grid-template-rows: var(--display-rows);
  justify-items: end;
  column-gap: clamp(20px, 5vw, 100px);
  align-items: center;

  &-image {
    background-color: #ff91af;
    transition: 0.4s ease;

    // &:hover {
    //   box-shadow: inset 0 0 20px #00000020, 0 5px 15px #00000047;
    // }
  }
  &-image,
  &-card {
    height: 75%;
    min-height: var(--min-height);
    width: 40vw;
    max-width: 700px;

    > div {
      width: clamp(200px, 90%, 500px);
    }
  }
  &-image,
  &-image-skeleton {
    justify-self: start !important;
    border-radius: 6px;
  }

  > span {
    margin-top: clamp(0px, 1vw, 20px);
    display: grid !important;
    min-width: clamp(30vw, 88vw, 100%);
    > span {
      width: clamp(200px, 100%, 615px);
    }
  }
  &-image-skeleton {
    display: grid;
    height: clamp(300px, 45vw, 450px) !important;
    min-height: 0;
    padding: 0 !important;
  }

  &-card {
    display: grid;
    align-content: start;
    justify-items: start;
    grid-template-columns: 1fr;
    // grid-template-rows: repeat(5, auto);
    &-label {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: start;
      column-gap: 21px;
      font-weight: 400;
      &-skeleton {
        width: 70px;
        height: 35px;
      }
    }
    &-tag,
    &-avail {
      padding: clamp(6px, 1vw, 4px) clamp(20px, 2vw, 25px);
      border-radius: 4px;
      font-size: clamp(14px, 2vw, 17px);
      font-weight: 400;
      min-width: 20px;
      display: grid;
      align-items: center;
      animation: shake 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
      transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &-avail {
      background-color: #ffdf00;
    }
    &-tag {
      background-color: #ff91af;
      animation-delay: 1.5s;
    }
    &-name {
      &-skeleton {
        width: 150px;
      }
      padding-top: clamp(15px, 5vw, 35px);
      font-size: clamp(28px, 4vw, 32px);
      opacity: 0.8;
    }
    &-price {
      &-skeleton {
        width: 60px;
      }
      padding-top: var(--price-padding);
      font-size: clamp(21px, 4vw, 28px);
      font-weight: 600;
      // font-family: "Concert One";
    }
    &-desc {
      &-skeleton {
        // height: 120px;
      }
      padding-top: clamp(10px, 2vw, 20px);
      font-size: clamp(15px, 1vw, 18px);
      font-weight: 400;
    }

    &-btn {
      .btn-skeleton {
        border-radius: 50%;
        width: 35px;
        height: 35px;
      }
      padding-top: clamp(15px, 5vw, 30px);
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 15px;
      font-size: 24px;
      align-items: center;
      justify-content: start;
      justify-items: center;
      button {
        cursor: pointer;
        color: inherit;
        background-color: inherit;
        border: none;
        font-size: inherit;
        margin-left: -5px;
        border-radius: 50%;
        width: 35px;
        height: clamp(40px, 5vw, 70px);
        overflow: hidden;
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 4px;
        i {
          padding: 5px;
        }
      }
      .favorite,
      .wishlist {
        color: #525252;
        transition: 0.2s ease-in transform;
      }
      .wishlist {
        font-size: clamp(22px, 3vw, 28px);
        &.zoomEffect {
          transform: scale(1.5);
        }
        button {
          margin-left: 2px;
        }
      }
      .favorite {
        font-size: clamp(24px, 3vw, 30px);
        &.zoomEffect {
          transform: scale(1.5);
        }
      }
      #liked {
        color: #e80000;
      }
      #wished {
        color: #4dd447;
      }

      #wished,
      #liked {
        &:active {
          transform: scale(1);
        }
      }
    }
    &-notify {
      position: fixed;
      z-index: 200;
      margin-top: clamp(55px, 5vw, 80px);
      margin-left: 2px;
      background-color: #ffffff;
      box-shadow: 0 0 15px 0 #00000030;
      border-radius: 10px;
      font-weight: 500;
      padding: 12px 15px;
      font-size: clamp(14px, 2vw, 16px);
      max-width: var(--notify-max-width);
      box-shadow: 0 -3px 15px 0 #00000020;
      justify-self: start;
      font-weight: 600;
      line-height: 1.7;
      animation: fly-up 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      bottom: var(--notify-bottom);
      left: var(--notify-left);
      width: var(--notify-width);

      // &::after {
      //   content: "";
      //   position: absolute;
      //   left: 15.5px;
      //   top: -20px;
      //   margin-left: -5px; /* Adjust to center the arrow */
      //   border-width: 12px;
      //   border-style: solid;
      //   // border-radius: 10px;
      //   border-color: transparent transparent #fff transparent; /* Create arrow shape */
      // }
    }
  }
}

.cart-effect {
  position: fixed;
  z-index: 50;
  transition: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  color: #525252 !important;
  &.show-cart-effect {
    transform: scale(1) rotate(270deg);
    visibility: visible;
  }
  &.hide-cart-effect {
    visibility: hidden;
    transform: scale(2.5);
    transition: none;
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  40% {
    transform: rotateZ(-1deg);
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  80% {
    transform: rotateZ(1deg);
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }
}

@media screen and (max-width: 800px) {
  .display {
    justify-items: center;
    column-gap: none;
    align-items: start;
    row-gap: 20px;
    &-image {
      justify-self: center !important;
      min-height: 300px;
    }

    &-image,
    &-card {
      width: 94%;

      > div {
        width: 100%;
      }
    }
  }
  :root {
    --display-columns: 1fr;
    --display-rows: auto 1fr;
    --min-height: 320px;
    --notify-width: 70vw;
    --notify-max-width: 70vw;
    --notify-bottom: 75px;
    --notify-left: calc(15vw - 15px);
  }
}

@media screen and (max-width: 480px) {
  :root {
    --price-padding: 5px;
  }
}
