:root {
  --display-columns: repeat(2, 1fr);
  --display-rows: auto;
  --price-padding: 6px;
  --min-height: 450px;
}
.display {
  //   top: 80px;
  //   position: fixed;
  //   z-index: -1;
  margin-top: 70px;
  height: var(--display-height);
  padding: 40px calc(2 / 3 * var(--padding)) 10px;
  width: calc(100vw - (4 / 3 * var(--padding)));
  display: grid;
  grid-template-columns: var(--display-columns);
  grid-template-rows: var(--display-rows);
  justify-items: end;
  column-gap: clamp(20px, 5vw, 100px);
  align-items: center;

  &-image {
    background-color: #ff91af;
    transition: 0.4s ease;

    // &:hover {
    //   box-shadow: inset 0 0 20px #00000020, 0 5px 15px #00000047;
    // }
  }
  &-image,
  &-card {
    height: 75%;
    min-height: var(--min-height);
    width: 40vw;
    max-width: 700px;

    > div {
      width: clamp(200px, 90%, 500px);
    }
  }
  &-image,
  &-image-skeleton {
    justify-self: start !important;
    border-radius: 6px;
  }

  > span {
    margin-top: clamp(0px, 1vw, 20px);
    display: grid !important;
    min-width: clamp(30vw, 88vw, 100%);
    > span {
      width: clamp(200px, 100%, 615px);
    }
  }
  &-image-skeleton {
    display: grid;
    height: clamp(300px, 45vw, 450px) !important;
    min-height: 0;
    padding: 0 !important;
  }

  &-card {
    display: grid;
    align-content: start;
    justify-items: start;
    grid-template-columns: 1fr;
    // grid-template-rows: repeat(5, auto);
    &-label {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: start;
      column-gap: 20px;
      font-weight: 400;
      &-skeleton {
        width: 70px;
        height: 35px;
      }
    }
    &-tag,
    &-avail {
      padding: clamp(6px, 1vw, 4px) clamp(20px, 2vw, 25px);
      border-radius: 4px;
      font-size: clamp(14px, 2vw, 17px);
      font-weight: 400;
      min-width: 20px;
      display: grid;
      align-items: center;
    }

    &-avail {
      background-color: #ffdf00;
    }
    &-tag {
      background-color: #ff91af;
    }
    &-name {
      &-skeleton {
        width: 150px;
      }
      padding-top: clamp(15px, 5vw, 35px);
      font-size: clamp(24px, 2vw, 30px);
    }
    &-price {
      &-skeleton {
        width: 60px;
      }
      opacity: 0.9;
      padding-top: var(--price-padding);
      font-size: clamp(21px, 4vw, 28px);
      font-weight: 600;
      // font-family: "Concert One";
    }
    &-desc {
      &-skeleton {
        // height: 120px;
      }
      padding-top: clamp(10px, 2vw, 20px);
      font-size: clamp(15px, 1vw, 18px);
      font-weight: 400;
    }

    &-btn {
      .btn-skeleton {
        border-radius: 50%;
        width: 35px;
        height: 35px;
      }
      padding-top: clamp(15px, 5vw, 30px);
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 15px;
      font-size: 24px;
      align-items: center;
      justify-content: start;
      justify-items: center;
      button {
        cursor: pointer;
        color: inherit;
        background-color: inherit;
        border: none;
        font-size: inherit;
        margin-left: -5px;
        border-radius: 50%;
        width: 35px;
        height: auto;
        overflow: hidden;
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 4px;
        i {
          padding: 5px;
        }
      }
      .favorite,
      .wishlist {
        color: #525252;
        transition: 0.2s ease-in transform;

        &.zoomEffect {
          transform: scale(1.2);
        }
      }
      .wishlist {
        font-size: 22px;
        button {
          margin-left: 2px;
        }
      }
      #liked {
        color: #e80000;
      }
      #wished {
        color: #4dd447;
      }

      #wished,
      #liked {
        &:active {
          transform: scale(1);
        }
      }
    }
    &-notify {
      margin-top: 15px;
      background-color: #d9d9d9;
      border-radius: 10px;
      border-top-left-radius: 0;
      font-weight: 500;
      padding: 10px;
      font-size: clamp(14px, 2vw, 16px);
      display: grid;
      justify-self: start;
      max-width: 250px;
    }
  }
}

.cart-effect {
  position: fixed;
  z-index: 50;
  transition: 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  color: #525252 !important;
  &.show-cart-effect {
    transform: scale(1) rotate(270deg);
    visibility: visible;
  }
  &.hide-cart-effect {
    visibility: hidden;
    transform: scale(2);
    transition: none;
  }
}

@media screen and (max-width: 800px) {
  .display {
    justify-items: center;
    column-gap: none;
    align-items: start;
    row-gap: 20px;
    &-image {
      justify-self: center !important;
      min-height: 300px;
    }

    &-image,
    &-card {
      width: 94%;

      > div {
        width: 100%;
      }
    }
  }
  :root {
    --display-columns: 1fr;
    --display-rows: auto 1fr;
    --min-height: 370px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --price-padding: 5px;
  }
}
